<div class="wrapper flex-column-start">
  <span class="main-sub-title mb-1">Welcome to the</span>
  <span class="main-title">Fraserview Muslim</span>
  <span class="main-title mb-3">Community Services</span>
  <div class="separator-img mb-3"></div>
  <span class="main-text">The Fraserview Musallah is not just a mosque for prayers rather it is a community center for all. The Center is committed to preserving an Islamic identity, building and
    supporting a viable Muslim community, promoting a comprehensive Islamic way of life based on the Holy Quran and the Sunnah of Prophet Muhammad.</span>

</div>


