<div class="wrapper">
  <tap-topic-heading [heading]="headings[1]"></tap-topic-heading>
  <div class="row card-wrapper">
    <div class="card-margin col-sm-12 col-md-6 col-lg-4">
      <tap-card-donate [card]="cards[0]" class="card" tapMatElevation
        [defaultElevation]="defaultElevation"></tap-card-donate>
    </div>
    <div class="card-margin col-sm-12 col-md-6 col-lg-4">
      <tap-card-volunteer [card]="cards[1]" class="card" tapMatElevation
        [defaultElevation]="defaultElevation"></tap-card-volunteer>
    </div>
  </div>
</div>
