.wrapper {
  margin: 0;
  background-color: #fafafa;
}

.card-wrapper {
  margin: 0;
  padding: 0 5vw; //Todo Change this to Main content padding
  justify-content: center;
}

.card-margin{
  padding: 10px 10px;
}
