<div class="wrapper">
<div class="flex-column-center my-3" >
  <span class="main-sub-title">Our Services</span>
  <span class="main-title">Serving Community</span>
  <div class="separator-img"></div>
</div>

<div class="flex-row-center">
  <tap-card-feature class="card" tapMatElevation [defaultElevation]="defaultElevation"></tap-card-feature>
  <tap-card-feature class="card" tapMatElevation [defaultElevation]="defaultElevation"></tap-card-feature>
  <tap-card-feature class="card" tapMatElevation [defaultElevation]="defaultElevation"></tap-card-feature>
  <tap-card-feature class="card" tapMatElevation [defaultElevation]="defaultElevation"></tap-card-feature>
</div>
</div>

