<div class="container">
  <div class="wrapper flex-column-center">
    <span class="main-sub-title mb-1">Wed 21 December</span>
    <span class="main-title">Prayer Timings</span>
    <div class="flex-row-between">
      <div class="main-sub-title heading">Prayer</div>
      <div class="main-sub-title">Athan</div>
      <div class="main-sub-title">Iqamah</div>
    </div>
    <div class="flex-row-between text-border main-sub-title mt-1">
      <div class="heading">Fajr</div>
      <div class="sub-heading">06:30</div>
      <div class="sub-heading">06:30</div>
    </div>
    <div class="flex-row-between text-border main-sub-title mt-1">
      <div class="heading">Sunrise</div>
      <div class="sub-heading">at</div>
      <div class="sub-heading">06:30</div>
    </div>
    <div class="flex-row-between text-border main-sub-title active mt-1">
      <div class="heading">Dhur</div>
      <div class="sub-heading">12:30</div>
      <div class="sub-heading">12:40</div>
    </div>
    <div class="flex-row-between text-border main-sub-title mt-1">
      <div class="heading">Asr</div>
      <div class="sub-heading">02:20</div>
      <div class="sub-heading">02:30</div>
    </div>
    <div class="flex-row-between text-border main-sub-title mt-1">
      <div class="heading">Maghrib</div>
      <div class="sub-heading">04:25</div>
      <div class="sub-heading">04:25</div>
    </div>
    <div class="flex-row-between text-border main-sub-title mt-1">
      <div class="heading">Isha</div>
      <div class="sub-heading">06:30</div>
      <div class="sub-heading">06:30</div>
    </div>

  </div>
</div>
