<div class="container">
  <div class="wrapper flex-column-center">
    <span class="main-sub-title mb-1">Wed 21 December</span>
    <span class="main-title">Prayer Timings</span>
    <div class="flex-row-between">
      <div class="prayer-title">Prayer</div>
      <div class="prayer-title">Athan</div>
      <div class="prayer-title">Iqamah</div>
    </div>
    <div class="flex-row-between prayer-border">
      <div class="prayer-heading">Fajr</div>
      <div class="prayer-sub-heading">06:30</div>
      <div class="prayer-sub-heading">06:30</div>
    </div>
    <div class="flex-row-between prayer-border">
      <div class="prayer-heading">Sunrise</div>
      <div class="prayer-sub-heading">at</div>
      <div class="prayer-sub-heading">06:30</div>
    </div>
    <div class="flex-row-between prayer-border">
      <div class="prayer-heading">Dhur</div>
      <div class="prayer-sub-heading">12:30</div>
      <div class="prayer-sub-heading">12:40</div>
    </div>
    <div class="flex-row-between prayer-border">
      <div class="prayer-heading">Asr</div>
      <div class="prayer-sub-heading">02:20</div>
      <div class="prayer-sub-heading">02:30</div>
    </div>
    <div class="flex-row-between prayer-border">
      <div class="prayer-heading">Maghrib</div>
      <div class="prayer-sub-heading">04:25</div>
      <div class="prayer-sub-heading">04:25</div>
    </div>
    <div class="flex-row-between">
      <div class="prayer-heading">Isha</div>
      <div class="prayer-sub-heading">06:30</div>
      <div class="prayer-sub-heading">06:30</div>
    </div>

  </div>
</div>
