@import './global-variables.scss';

.separator {
  position: relative;
  content: "";
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, $background-color-primary, transparent);
}

.separator-img {
  width: 200px;
  height: 20px;
  background-image: url('/../assets/images/svg/divider.svg');
  background-repeat: no-repeat;
}

.main-title,
.main-sub-title,
.main-heading,
.main-text,
.prayer-title,
.prayer-heading,
.prayer-sub-heading {
  font-family: 'El Messiri';
}

.main-title {
  font-size: 40px;
  color: $text-color-secondary;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(68, 26, 5, 0.39);
}

.main-sub-title {
  font-size: 24px;
  line-height: 1;
  color: $text-color-primary;
  text-shadow: 0px 4px 4px rgba(231, 166, 26, 0.39);
}

.main-heading,
.prayer-title {
  font-size: 24px;
  line-height: 2;
  color: $text-color-primary;
}

.main-text {
  font-size: 20px;
  color: $text-color-secondary;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.prayer-heading,
.prayer-title,
.prayer-sub-heading {
  min-width: 85px;
}

.prayer-title {
  text-shadow: 0px 4px 4px rgba(231, 166, 26, 0.39);
}

.prayer-border {
  border-bottom: 1px dashed $text-color-primary;
  margin-bottom: 10px;
}

.prayer-heading,
.prayer-sub-heading {
  font-size: 20px;
  line-height: 2;
}

.prayer-heading {
  color: $text-color-primary;
}

.prayer-sub-heading {
  color: $text-color-secondary;
}

.divider {
  height: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: $text-color-primary;
}
