<div class="wrapper">
  <div class="row content-wrapper">
    <tap-topic-heading [heading]="headings[6]" class="pt-3"></tap-topic-heading>
    <span class="main-sub-title align-center">PROPHET MUHAMMAD ﷺ SAID: “ALLAH SAID: ‘SPEND, O SON OF ADAM, AND I SHALL SPEND ON YOU.’”</span>
    <span class="card-title align-center pt-3">Your contribution will help us to maintain and develop the wide range of services we offer.</span>
    <div class="separator mt-3"></div>
    <span class="main-text py-3">- We are very grateful for all donations made to Fraserview Muslim Community Services.</span>
    <span class="main-text py-3">- Please become regular monthly donor for this centre as we only depend on your donations for all of our activities.</span>
    <span class="main-text py-3">- Please donate generously as this ensures that the mosque is maintained properly and the Muslim community benefits from these facilities.</span>
    <span class="main-text py-3">- Please Note that All Donations are Tax Deductible. A Tax Receipt will be issued as soon as donation is received.</span>
    <span class="main-text py-3">- May God reward you for all your good deeds. Jazakum Allah Khair.</span>
  </div>
</div>
