@import './../../../../shared/styles/global-variables.scss';

.contact-icon,
.contact-icon-label {
  font-family: 'El Messiri';
}

.contact-icon-label {
  margin-top: 8px;
}
.contact-icon {
  margin: 3px 4px 0 0;
  color: $text-color-primary;
}

a {
  text-decoration: none;
  color: inherit;
}
