<ng-content></ng-content>
<div class="flex-row text-border pt-3">
  <span class="contact-icon"> <mat-icon >location_pin</mat-icon></span>
  <!-- TODO Fix Label Shrinking -->
  <a target="_blank" rel="noopener noreferrer"  title="Location" href="https://www.google.com/maps/dir//Fraserview+Muslim+Community+Services+6436+Fraser+St+Vancouver,+BC+V5W+3A6/@49.2261272,-123.0905443,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x548674154a882ced:0x7df2309f17ba710d"class="contact-icon-label">6436 Fraser St.</a>
  <a target="_blank" rel="noopener noreferrer"  title="Location" href="https://www.google.com/maps/dir//Fraserview+Muslim+Community+Services+6436+Fraser+St+Vancouver,+BC+V5W+3A6/@49.2261272,-123.0905443,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x548674154a882ced:0x7df2309f17ba710d"class="contact-icon-label">Vancouver</a>
</div>
<div class="flex-row text-border">
  <span class="contact-icon"> <mat-icon >call</mat-icon></span>
  <a href="tel:+16047809121" title="Phone"><div class="contact-icon-label">+1 (604) 780-9121</div></a>
</div>
<div class="flex-row text-border">
  <span class="contact-icon"> <mat-icon >mail</mat-icon></span>
  <a href="mailto:fmcs786@gmail.com"><div class="contact-icon-label">fmcs786@gmail.com</div></a>
</div>


