
<!-- <tap-card-feature></tap-card-feature>
<tap-card-feature></tap-card-feature>
<tap-card-feature></tap-card-feature> -->
<tap-ngb-carousel></tap-ngb-carousel>
<div class="row wrapper">
  <tap-prayer-time class="col-sm-12 col-md-6 col-lg-4"></tap-prayer-time>
  <tap-intro class="col-sm-12 col-md-6 col-lg-8"></tap-intro>
</div>



<!-- <tap-ngb-carousel></tap-ngb-carousel> -->
<tap-card-feature-container></tap-card-feature-container>

<!-- <tap-ngb-carousel></tap-ngb-carousel>
<mat-card tapMatElevation [defaultElevation]="defaultElevation" style="height: 300px; width: 300px;">
 <mat-card-content></mat-card-content>
</mat-card> -->
