<ng-container *ngIf="!alignLeft else flexStart">
  <div [ngClass]="{'mobile-typography': isMobileViewPort}" class="flex-column-center">
    <span class="main-sub-title">{{heading.title}}</span>
    <span class="main-title">{{heading.subtitle}}</span>
    <div class="separator-img"></div>
  </div>
</ng-container>
<ng-template #flexStart>
  <div [ngClass]="{'mobile-typography': isMobileViewPort}" class="flex-column-start">
    <span class="main-sub-title">{{heading.title}}</span>
    <span class="main-title">{{heading.subtitle}}</span>
    <div class="separator-img"></div>
  </div>
</ng-template>
