@import '../../../styles/global-variables.scss';
//TODO move to App Component
.main-title,
.main-sub-title {
  font-family: 'El Messiri';
}

.mobile-typography{
  .main-title {
    font-size: 30px;

  }
  .main-sub-title {
    font-size: 20px;
  }
  .separator-img {
    width: 120px;
    height: 10px;
  }
}

.main-title {
  font-size: 36px;
  color: $text-color-secondary;
  line-height: 1.25;
  text-shadow: 0px 4px 4px rgba(68, 26, 5, 0.39);
}

.main-sub-title {
  padding-top: 10px;
  font-size: 24px;
  line-height: 1;
  color: $text-color-primary;
  text-shadow: 0px 4px 4px rgba(231, 166, 26, 0.39);
}
